<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
    </queries>

    <application
        android:name="com.voidloom.keel.KeelApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GravitySiege"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:fullBackupContent,android:dataExtractionRules"
        tools:targetApi="31">

        <activity
            android:name="com.voidloom.keel.KeelBootActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden|density|uiMode"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.KeelShell"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.voidloom.keel.KeelPaneActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden|density|uiMode"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.KeelShell"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.voidloom.keel.KeelHailActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden|density|uiMode"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.KeelShell" />

        <activity
            android:name="com.voidloom.keel.KeelDryActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden|density|uiMode"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.KeelShell" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|smallestScreenSize|density"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.GravitySiege"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name="com.voidloom.keel.wire.KeelPingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="keel_yard_bell" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_keel_flame" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/keel_signal" />
    </application>
</manifest>
